<script src="/script/common.js"></script>
<link rel="stylesheet" href="/style/picnic.css">
<link rel="stylesheet" href="/style/common.css">
<!-- 引入第三方字体 -->
<link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/hcqyt/dist/ChillRoundFRegular/result.css' />

<!-- 对于Safari上的优化 -->
<meta name="viewport" content="width=device-width,initial-scale=1,mininmum-scale=1,maximum-scale=1,user-scalable=no" charset='UTF-8' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>