<!-- common-area(header): start -->

<!-- wait-bar -->
<section id="wait-bar" class="wait-bar modal">
    <style>
        .wait-bar {
            transition: opacity .4s ease-out;
            opacity: 0;
            z-index: 10000;
        }

        .wait-bar.show {
            opacity: 1;
            pointer-events: all;
        }

        /* .wait-bar .overlay {
            transition: z-index 0s;
        } */


        .wait-bar .center-box {
            --height: 6em;
            position: fixed;
            display: flex;
            top: calc(50% - (var(--height) / 2));
            width: 100%;
            height: var(--height);
            text-align: center;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .wait-bar:not(.show) .overlay {
            max-height: 0;
        }

        .wait-bar .content {
            margin: 0;
            padding: 0;
            color: #fff;
            /* background-color: #00000080;
            padding: 0 .4em; */
            font-weight: 800;
            font-size: 2em;
            border-radius: var(--main-radius);
        }
    </style>
    <div class="overlay">
        <div class="center-box">
            <p class="content"> 请稍候 </p>
        </div>
    </div>
</section>

<!-- info-bar -->
<section id="info-bar" class="info-bar">
    <style>
        .info-bar {
            position: fixed;
            overflow: hidden;
            pointer-events: none;
            top: -2em;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all ease .4s;
            z-index: 1000000;
        }

        .info-bar.show {
            opacity: 1;
            top: 2em;
        }

        .info-bar .content {
            display: inline-block;
            padding: .2em 1em;
            border-radius: .4em;
            background-color: #0000005f;
            /* backdrop-filter: blur(2px); */
            color: #fff;
            text-shadow: .1em #000;
            font-weight: 600;
        }
    </style>
    <p class="content"> NO-CONTENT </p>
</section>

<!-- nav-bar -->
<nav class="nav-bar">
    <style>
        body::before {
            content: '';
            display: block;
            height: 3em;
        }

        .nav-bar .menu div.title {
            display: none;
            background-color: cornflowerblue;
            color: #fff;
            text-align: center;
            font-weight: 800;
        }
    </style>
    <span class="brand">
        <img class="logo" src="/image/logo.png" alt="logo" />
        <span> maimai tools </span>
    </span>

    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button"> 菜单 </label>

    <div class="menu left-icon-items">
        <div class="pseudo button title"> MAITOOLS </div>
        <!-- <a href="/profile" class="buttone"> 个人主页 </a> -->
        <a href="/" class="pseudo button icon-home"> 首页 </a>
        <a href="/hall" class="pseudo button icon-game"> 机厅 </a>
        <a href="/score" class="pseudo button icon-search"> 查分 </a>
        <a href="/document" class="pseudo button icon-info"> 帮助 </a>
        <a href="/about" class="pseudo button icon-news"> 关于 </a>

    </div>
</nav>

<!-- common-area(header): end -->