@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?xevzpl');
    src: url('/fonts/icomoon.eot?xevzpl#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?xevzpl') format('truetype'),
        url('/fonts/icomoon.woff?xevzpl') format('woff'),
        url('/fonts/icomoon.svg?xevzpl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --main-radius: .4em;
    --ban-color: #eee;
}

body {
    /* 使用第三方字体 */
    font-family: '寒蝉全圆体';
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 auto;
    max-width: 38em;
    min-width: 22em;
}

section {
    padding: 0;
    margin: 0;
}

section {
    position: relative;
}


/* 隐藏上下箭头 */
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
    appearance: none;  /* 其他现代浏览器 */
}



/* hr */

hr.slide::before, hr::after, hr.slide {
    height: 1em;
    background-size: 1em;
    background-position: center center;
}
hr.slide {
    --content: '';
    width: 100%;
    border: none;
    position: relative;
    background-image: url('/image/slide_main.webp');
    background-repeat: no-repeat;
    background-size: 1.2em;
    z-index: 2;
}

hr.slide::before, hr.slide::after {
    content: var(--content);
    display: block;
    position: absolute;
    width: calc(50% - 0.5em);
    background-size: .8em;
    background-repeat: repeat-x;
    z-index: 0;
}

hr.slide::before {
    background-image: url('/image/slide_right.webp');
    left: 0;
    background-position: right center;
}

hr.slide::after {
    background-image: url('/image/slide_left.webp');
    right: 0;
    background-position: left center;
}

/* hr - 对于safari浏览器使用其他实现方式 */
body.safari hr.slide {
    --content: none;
    background-image: url('/image/slide_hr.webp');
    background-size: 60%;
}



/* footer */
footer {
    position: relative;
}

/* footer - version */

footer.main .version {
    --font-color: #0074d9;
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: .8em;
    opacity: .95;
}

footer.main .version .cont {
    display: inline-block;
    border-radius: var(--main-radius);
    background-color: #d0d0d0;
    padding: .4em .6em;
}

footer.main .version .cont #version {
    padding: .2em .4em;
    margin-left: .4em;
    border-radius: var(--main-radius);
    font-weight: 400;
    text-shadow: 0px 0px 3px var(--font-color);
    background-color: #ffffff;
    color: var(--font-color);
}

footer.main .version .cont::before {
    content: '版本号:';
    color: #fff;
}

/* footer - background */

footer.background {
    --size: 40em;
    min-height: 8em;
    margin: 0;
    background-image: url('/image/footer/BUDDiES.webp');
    background-size: var(--size);
    background-repeat: repeat-x;
    background-position: 0 center;
    animation: footer-scroll 30s linear infinite;
}

@keyframes footer-scroll {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: calc(var(--size) * 2 * -1);
    }
}

footer.background.FESTiVAL {
    background-image: url('/image/footer/FESTiVAL.webp');
}

footer.background.PRiSM {
    background-image: url('/image/footer/PRiSM.webp');
}

footer.background.BUDDiES {
    background-image: url('/image/footer/BUDDiES.webp');
}



/* modal */

.modal .overlay~* {
    box-shadow: 0 0 1em #fff;
}

/* modal.decoration - header(char) */
.modal.decoration header {
    --content: none;
    --decoration-src: url('/image/char/FB0BE9B23104DED46BB5441534AFA3CA.webp');
    --top: -4.1em;
    position: relative;
}

.modal.modal.decoration>input:checked~* header {
    --content: '';
}

.modal.decoration>input:checked~.overlay~* {
    overflow: visible;
    transition: max-height 0s, transform .3s;
}

.modal.decoration .content {
    overflow: hidden;
    overflow-y: scroll;
    max-height: 60vh;
    border-radius: var(--main-radius);
}

.modal.decoration footer {
    position: relative;
    /* overflow: hidden; */
    box-shadow: 0px -.4em 0.5em #ffffffe0;
}

.modal.decoration header::after {
    --decoration-size: 2;
    content: var(--content);
    position: absolute;
    pointer-events: none;
    right: 0;
    top: calc(var(--top) * var(--decoration-size));
    height: calc(6em * var(--decoration-size));
    width: calc(4em * var(--decoration-size));
    z-index: 32;
    background-image: var(--decoration-src);
    background-size: 100%;
    background-repeat: no-repeat;
}

.modal.decoration.char-1 header {
    --decoration-src: url('/image/char/FB0BE9B23104DED46BB5441534AFA3CA.webp');
}

.modal.decoration.char-2 header {
    --decoration-src: url('/image/char/A0F4311275B44342502F59E7647378F5.webp');
    --top: -4.05em;
}

/* modal.sticky - header */

.modal.sticky .overlay+* header {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0.2em 0.4em #b5b5b555;
    z-index: 5;
}

/* modal - footer */
.modal footer {
    overflow: hidden;
}

/* common style */

/* common style - shadow */
[class*="shadow"] {
    --shadow-color: #fff;
    box-shadow: 0 0 .4em var(--shadow-color);
}

.shadow-black { --shadow-color: #000; }
.shadow-white { --shadow-color: #fff; }
.shadow-yellow { --shadow-color: #ff0; }
.shadow-blue { --shadow-color: #08f; }
.shadow-red { --shadow-color: #f20; }


/* common style - search */
.modal-search {
    --border-radius: .4em;
    --size: 2em;
    --font-size: calc(var(--size) / 2);
    --padding: 1em;
    padding: var(--padding) !important;
    position: relative;
    display: flex;
}

.modal-search [class*="icon-"]::before {
    font-size: var(--font-size);
}

.modal-search input[type="search"] {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-right: 0;
    height: var(--size);
}

.modal-search button[type="reset"] {
    --this-size: calc(var(--size) / 2);
    position: absolute;
    right: calc(var(--size) + 1em);
    /* bottom: 0; */
    top: calc((var(--size) / 4) + var(--padding));
    width: var(--this-size);
    height: var(--this-size);
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    color: #000;
}


.modal-search input[type="search"]:focus+button[type="reset"] {
    opacity: 1;
    pointer-events: all;
}

.modal-search button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 0 .6em;
    height: var(--size);
    width: var(--size);
    transition: box-shadow .1s;
}

.modal-search button[type="submit"]:active {
    box-shadow: inset 0 0 10em #ffffff5e;
}


/* other */

.hidden-scrollbar {
    scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

/* input:checkbox - disabled */

input[type="checkbox"]:disabled+.checkable {
    text-decoration: line-through;
}

input[type="checkbox"]:disabled+.checkable::before {
    opacity: .4;
}

/* normal-style */
.normal-style button {
    margin: 0;
    padding: 0;
}

.normal-style button:hover,
.normal-style button:active,
.normal-style button:focus
{
    box-shadow: none;
}




/* icon */


/* 设置字体图标before样式/(TAG)字体图标/ */

.left-icon-items [class*="icon-"]:not(.right-icon)::before,
[class*="icon-"].right-icon::after,
.right-icon-items [class*="icon-"]::after
{
    content: var(--content);
    /* --icon-color: #000; */
    display: inline;
    font-family: 'icomoon';
    display: inline-block;
    /* margin-top: -0.2em; */
    color: var(--icon-color);
}

/* [class*="icon-"].right-icon::before,
.right-icon-items [class*="icon-"]::before, */
.no_margin-icon-items [class*="icon-"]::before,
.no_margin-icon-items [class*="icon-"]::after
 {
    margin: 0;
}

[class*="icon-"].min-icon::before,
.min-icon-items [class*="icon-"]::before,
[class*="icon-"].right-icon.min-icon::after,
.right-icon-items.min-icon-items [class*="icon-"]::after {
    font-size: .8em;
}

/*
    使用 .right(left)-icon-items .icon-xxx 来使用图标;
    或使用 .icon-xxx 的 --content 属性来获取图标字体内容
*/

.icon-refresh {
    --content: '\e984';
}

/* 应改成 .icon-arr_top_right { */
.icon-arr-top-right {
    --content: '\ea3b';
}

.icon-link {
    --content: '\ea7e';
}

.icon-config {
    --content: '\e994';
}

.icon-message {
    --content: '\e96e';
}

.icon-go {
    --content: '\ea3b';
}

.icon-left {
    --content: '\ea40';
}

.icon-home {
    --content: '\e901';
}

.icon-game {
    --content: '\e916';
}

.icon-search {
    --content: '\e986';
}

.icon-news {
    --content: '\e906';
}

.icon-info {
    --content: '\ea0c';
}

.icon-star_empty {
    --content: '\e9d7';
}

.icon-star_half {
    --content: '\e9d8';
}

.icon-star_full {
    --content: '\e9d9';
}

.icon-copy {
    --content: '\e925';
}

.icon-user {
    --content: '\e975';
}

.icon-users {
    --content: '\e976';
}

.icon-user_plus {
    --content: '\e979';
}

.icon-user_min {
    --content: '\e97a';
}

.icon-user_check {
    --content: '\e97b';
}

.icon-sort {
    --content: '\ea4c';
}

.icon-plus {
    --content: '\ea0a';
}

@media (max-width: 60em) {

    /* 手机版大小媒体响应 */
    nav.nav-bar .menu div.title {
        display: block;
    }
}