@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?xevzpl');
    src: url('/fonts/icomoon.eot?xevzpl#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?xevzpl') format('truetype'),
        url('/fonts/icomoon.woff?xevzpl') format('woff'),
        url('/fonts/icomoon.svg?xevzpl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 隐藏上下箭头 */
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari 和 Chrome */
    appearance: none;  /* 其他现代浏览器 */
}

section {
    position: relative;
}

hr.slide::before, hr::after, hr.slide {
    height: 1em;
    background-size: 1em;
    background-position: center center;
}
hr.slide {
    width: 100%;
    border: none;
    position: relative;
    background-image: url('/image/slide_main.webp');
    background-repeat: no-repeat;
    background-color:transparent;
    background-size: 1.2em;
    z-index: 2;
}

hr.slide::before, hr.slide::after {
    content: '';
    display: block;
    position: absolute;
    width: calc(50% - .5em);
    background-size: .8em;
    background-repeat: repeat-x;
    z-index: 0;
}

hr.slide::before {
    background-image: url('/image/slide_right.webp');
    left: 0;
    background-position: right center;
}

hr.slide::after {
    background-image: url('/image/slide_left.webp');
    right: 0;
    background-position: left center;
}

body {
    margin: 0 auto;
    max-width: 38em;
    min-width: 22em;
}

.modal footer {
    overflow: hidden;
}

.hidden-scrollbar {
    scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}


/* 设置字体图标before样式/(TAG)字体图标/ */

[class*="icon-"]:not(.right-icon)::before,
[class*="icon-"].right-icon::after {
    content: var(--content);
    --icon-color: #000;
    display: inline;
    font-family: 'icomoon';
    display: inline-block;
    /* margin-top: -0.2em; */
    color: var(--icon-color);
}

[class*="icon-"].right-icon::before {
    margin: 0;
}

[class*="icon-"].min-icon::before,
[class*="icon-"].right-icon.min-icon::after {
    font-size: .8em;
}

.icon-refresh {
    --content: '\e984';
}

.icon-arr-top-right {
    --content: '\ea3b';
}

.icon-link {
    --content: '\ea7e';
}

.icon-config {
    --content: '\e994';
}

.icon-message {
    --content: '\e96e';
}

.icon-go {
    --content: '\ea3b';
}

@media (max-width: 60em) {

    /* 手机版大小媒体响应 */
    nav.nav-bar .menu div.title {
        display: block;
    }
}