/* /hall > hall_player.html */

.space {
    margin: 0 .4em;
}

main.space {
    margin-top: 1em;
}



ul.row {
    margin: 0;
    padding: 0;
}

ul.row li {
    margin: 0;
    padding: 0;
}

.hall-player-main {
    --main-bgc: #f5f6fd;
    font-size: .8em;
    overflow: hidden;
}

.hall-header {
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: var(--main-bgc);
    /* box-shadow: 0em 0em 2px 0px; */
    border-radius: var(--main-radius);
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.hall-player-main .left {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
}

.hall-player-main .right {
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
}

.right::after,
.left::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
}

/* .left::after,
.right::after {
    content: '';
    height: 100%;
    display: inline-block;
} */

.left.title h2 {
    color: #2b73ff;
    display: inline-block;
    vertical-align: middle;
    padding: .6em 0em;
}

.right.operate {
    /* margin-top: .6em; */
    display: flex;
    height: 100%;
}

.right.operate :not(:last-child) {
    margin-right: .4em;
}


.trip {
    --margin: 1em;
    --height: 10em;
    display: flex;
    position: relative;
    overflow: hidden;
    height: var(--height);
    margin: var(--margin);
    margin-bottom: .4em;
    /* margin-left: 3em; */
    margin-top: calc(var(--height) * -1);
    padding: .6em;
    /* border: .2em solid #dcdcdc; */
    background: var(--main-bgc) url('/image/go_dlx.webp') no-repeat;
    background-size: 8em;
    background-position: left center;
    border-radius: .8em;
    transition: margin .4s ease, opacity .2s ease;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
}

.trip::after {
    content: '正在去';
    display: block;
    position: absolute;
    color: #2b73ff;
    text-shadow: 1px 1px 2px;
    font-weight: 600;
    background-color: #e2e2e261;
    padding: .2em .3em;
    border-radius: var(--main-radius);
    /* color: #363636; */
    left: 1em;
}

.trip.show {
    margin-top: var(--margin);
    opacity: 1;
    transition: .4s;
    pointer-events: auto;
}

.trip .content {
    text-align: center;
}

/* .trip .content .pos::before,
.trip .content .name::before {
    color: #aaa;
    display: block;
    float: left;
} */

.trip .content .line {
    height: 3em;
    position: relative;
    display: flex;
    /* padding: .2em .4em; */
    justify-content: center;
}

.trip .content .pos,
.trip .content .name {
    position: absolute;
    height: 2em;
    top: 0;
    overflow: hidden;
    display: inline-block;
    padding: .2em .4em;
    text-overflow: ellipsis;
    color: #444;
    background-color: var(--main-bgc);
    border-radius: var(--main-radius);
    transition: all 0.2s ease;
    z-index: 1;
}

.trip .content .pos:hover,
.trip .content .name:hover {
    height: 5em;
    white-space: break-spaces;
    color: #000;
    opacity: .8;
    z-index: 2;
}

.trip .content .name {
    font-size: 1.6em;
    max-width: 65%;
}


/* .trip .content .name::before {
    content: '机厅名:';
} */

.trip .content .pos {max-width: 66%;}

.trip .footer {
    /* flex: 1; */
}

.trip .footer button:last-child {
    float: right;
}

/* .trip .content .pos::before {
    content: '机厅位置:';
} */


/* ↓ 上次更新时间 - lsat-update-time */

.last-update-time {
    text-align: center;
    margin-bottom: .4em;
    font-size: .8em;
}

.last-update-time p {
    margin: 0;
}

.last-update-time .last-refresh {
    display: inline-block;
    background-color: #fafdff;
    color: #484a52;
    padding: .4em .6em;
    border-radius: var(--main-radius);
}

/* ↓ 机厅列表详细信息 - hall-detail */

.hall-detail {
    --color: #444;
    text-align: right;
    /* padding-right: .6em; */
    color: var(--color);
    border-right: .2em solid var(--color);
}

.hall-detail .inner {
    display: inline-block;
    padding: .4em .6em;
    background-color: #fbfbfb;
    border-radius: var(--main-radius) 0 0 var(--main-radius);
}

.hall-detail .title {
    /* text-align: center; */
    padding-bottom: .4em;
    font-size: 1.2em;
    font-weight: 800;
}

.hall-detail strong {
    padding: 0 .25em;
    margin: 0 .2em;
    background-color: #9b9b9b;
    color: #fff;
    border-radius: .2em;
}


/* ↓机厅列表 - main init */

#hall-player-list {
    list-style: none;
    padding: 0;
    padding-bottom: 10em;
    overflow: hidden;
}

#hall-player-list li.hall-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 200%;
    /* scroll-snap-align: start; */
}

#hall-player-list .main,
#hall-player-list .other {
    width: 50%;
    /* scroll-snap-align: start; */
}



/* ↓机厅列表 - main | [this] |    | */

#hall-player-list .left {
    width: 75%;
}

#hall-player-list li.hall-item {
    --padding: 1em;
    --border-size: .14em;
    font-size: 1em;
    min-width: 25em;
    margin: 0;
    position: relative;
}

#hall-player-list li.hall-item {
    margin-bottom: 1em;
    /* overflow-x: scroll; */
    /* scroll-snap-type: x mandatory; */
}

#hall-player-list li.hall-item .main {
    overflow: hidden;
    padding: var(--padding);
    border: var(--border-size) solid #000;
}

#hall-player-list h2,
#hall-player-list h3 {
    padding: 0;
}

#hall-player-list .left ul.state {
    padding: 0;
    overflow: hidden;
    overflow-x: scroll;
    margin-top: .2em;
    padding: .2em 0;
    border-radius: var(--main-radius);
    /* height: 1.9em; */
    color: #00a4ff;
}
ul.state li.nickname::before,
ul.state li.wait::before,
ul.state li.games::before {
    display: inline-block;
    height: 1em;
    color: #aeaeae;
}

ul.state li.nickname::before {
    content: '别称:';
}
ul.state li.wait::before {
    content: '预计等待:';
}
ul.state li.games::before {
    content: '';
}

ul.state li:not(.none) {
    /* display: inline-block; */
    padding: .2em .4em;
    border-radius: .4em;
    background-color: #fafafa;
}

#hall-player-list ul.state li {
    display: none;
}

/* 仅显示指定字段 */
#hall-player-list[data-show*='wait'] ul.state li.wait,
#hall-player-list[data-show*='nickname'] ul.state li.nickname,
#hall-player-list[data-show*='games'] ul.state li.games
 {
    display: inline-block;
}


#hall-player-list .left .more {
    --icon-color: #000;
    /* margin-top: .2em; */
}

#hall-player-list .left .more label, #hall-player-list .left .more button {
    font-size: .9em;
    font-weight: 400;
    color: #444;
    /* background-color: #fdfaff; */
    margin: 0;
    padding: .2em .4em;
}

#hall-player-list .left .more *:not(:last-child), #hall-player-list .left .state li:not(:last-child) {
    margin-right: .2em;
}

#hall-player-list .left .more label::before,
#hall-player-list .left .more button::before {
    margin-right: .2em;
}

#hall-player-list .left .more .fav {
    --icon-color: #ffc01b;
}

#hall-player-list .left .more .fav::before {
    transition: .2s ease color;
    margin-right: 0;
}

#hall-player-list .left .more .fav.not {
    --icon-color: #000;
}

#hall-player-list .left h3::before {
    font-weight: 400;
}

#hall-player-list .left .name {
    display: flex;
    /* cursor: pointer; */
    background-color: #f8fafe;
    width: 100%;
    color: #3094ff;
    border-radius: var(--main-radius);
    padding: .2em .6em;
    /* padding-right: 1em; */
    overflow: hidden;
    /* text-overflow: ellipsis; */
    align-items: center;
}



#hall-player-list .left .name::before {
    content: '机厅名称: ';
}

#hall-player-list .left .name::after {
    display: inline-block;
    font-size: 1em;
    padding-left: .4em;
    margin-right: -3.8em;
    transition: all .2s ease;
    opacity: 0;
    --icon-color: #0dd300;
}

#hall-player-list .left .name.go::after {
    margin-right: 0;
    opacity: 1;
}

#hall-player-list .left .name .content {
    /* pointer-events: none; */
    display: block;
    flex: 1;
    max-width: 15em;
    overflow-x: auto;
    /* text-align: center; */
    padding-right: 3em;
}



#hall-player-list .left .note::before {
    content: '备注: ';
}

#hall-player-list .left .note::before,
#hall-player-list .left .name::before {
    color: #666;
}

#hall-player-list .left .note {
    margin-top: 1em;
}

#hall-player-list .right {
    height: 6.5em;
    padding-left: var(--padding);
    border-left: var(--border-size) solid #bbb;
}

#hall-player-list .right .player-number {
    display: block;
    width: 5em;
    /* margin: 0 auto; */
    text-align: center;
    --percent-radius: .2em;
}

#hall-player-list .right .info.have+.hall-number {
    font-size: 2.3em;
}

#hall-player-list .right .hall-number {
    /* padding-top: .25em; */
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 2.8em;
    color: var(--color);
    text-shadow: 1px 1px 0px #aaa;
}


.right .hall-number::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: .2em;
    background-color: #eee;
    border-radius: var(--percent-radius);
}

.right .hall-number::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: var(--percent);
    height: .2em;
    background-color: var(--color);
    filter: brightness(.6);
    border-radius: var(--percent-radius);
}

#hall-player-list .right .info {
    /* display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: calc(var(--main-radius) / 2);
    margin: 0;
    line-height: 1.2em;
    max-height: 1.2em;
    color: #fff;
    background-color: #777;
}


/* ↓机厅列表 - other | ← | [this] | */
#hall-player-list .other {

}


/* 根据人数来确定显示字体颜色 */

.hall-number.no {
    --color: green;
}

.hall-number.few {
    --color: green;
}

.hall-number.some {
    --color: greenyellow;
}

.hall-number.sev {
    --color: yellow;
}

.hall-number.many {
    --color: red;
}

.hall-number.inv {
    --color: #000;
    /* font-style: italic; */
    opacity: .6;
}

/* ↓ 窗口 - window */

/* 机厅玩家人数设置 */

.window-change-player .content .hall-name,
.window-change-player .content .change-time {
    text-align: center;
}

.window-change-player .content .change-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-change-player .content .change-player button {
    width: 2em;
    height: 2em;
    margin: 0;
    padding: .2em .5em;
    font-size: 2em;
    border-radius: 0;
    background-color: #eee;
    color: #000;
}

.window-change-player .content .change-player input {
    font-size: 2.2em;
    padding: 0 .2em;
    margin: 0 .2em;
    width: 2em;
    text-align: center;
    /* text-decoration: underline; */
}

/* window - ↓机厅设置 */


.window-hall-set input, .window-hall-set textarea {
    background-color: transparent;
    color: #000;
}

.window-hall-set .index {
    text-align: center;
    margin-bottom: .6em;
}

.window-hall-set .index h4 {
    display: inline-block;
    padding: .2em .4em;
    font-weight: 700;
    background-color: #32b5ff;
    color: #fff;
    border-radius: var(--main-radius);
}

.window-hall-set .line {
    --font-color: #454545;
    display: block;
    position: relative;
    padding: 0.4em .8em;
    border-radius: var(--main-radius);
    background-color: #f8f9ff;
    color: var(--font-color);
}

.window-hall-set .line.new::after {
    content: 'NEW';
    display: block;
    position: absolute;
    right: .4em;
    top: 0;
    color: green;
    font-style: italic;
}

.window-hall-set .line label.title {
    display: inline-block;
    font-weight: 500;
    padding: .2em .4em;
    border-radius: .4em;
    margin-bottom: .2em;
    /* margin-top: .4em; */
    background-color: #f0f2ff;
}

.window-hall-set .line .tip {
    display: block;
    padding: 0 .4em;
    margin-left: .4em;
    border-left: var(--font-color) .2em solid;
    /* opacity: 0;
    transition: opacity .2s ease; */
}
/* .window-hall-set .line:hover .tip {
    opacity: 1;
} */

.window-hall-set .line .tip::before {
    content: '提示:';
    font-weight: 600;
}

.window-hall-set .line textarea {
    resize: none;
    background-color: transparent;
}

.window-hall-set .line.open-hours .cont * {
    padding-top: 0;
}



.window-hall-set ul,
.window-hall-set ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.window-hall-set ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-right: .2em;
    color: #000;
    transition: .2s ease background-color;
    padding: .1em .2em;
    border-radius: .2em;
    cursor: default;
}

.window-hall-set ul li.item:hover {
    background-color: #ffebeb;
    /* color: #bbb; */
    transition: opacity ease .2s;
    opacity: 1;
}

.window-hall-set ul li.item.not {
    display: none;
    opacity: 0;
}

.window-hall-set .content .input-list {
    min-height: 1.7em;
    padding: 0;
}

.window-hall-set .content .input-list input {
    width: 6em;
    height: 1.2em;
    padding: .1em .2em;
    border: none;
    border-radius: 0;
    border-bottom: .2px solid #000;
}

.window-hall-set .line {
    margin-bottom: .7em;
}

/* window- ↓筛选或排序 */
.modal.window-filter section {
    padding: 0;
}

.modal.window-filter select {
    width: 6em;
}

.modal.window-filter .pad-right {
    padding-right: 2em;
}

.modal.window-filter .content {
    padding: 1em;
    padding-top: 0;
}

.window-filter .content h2 {
    padding: 0 .4em;
    padding-top: 1em;
    padding-bottom: .4em;
    font-size: 1.2em;
}

.window-filter .content .item:not(:first-child) {
    margin-top: 1em;
    border-top: #c6c6c6 .2em solid;
}

.window-filter .content .sort .cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-filter .content .show .cont {
    font-size: 1.1em;
    display: flex;
    /* margin-top: .4em; */
    flex-direction: column;
}

.window-filter .content .item .cont .line {
    display: flex;
    margin-top: .2em;
    justify-content: flex-start;
}

.window-filter .content .item .cont .line label {
    width: 50%;
    margin-left: .4em;
}

.window-filter .content .item .cont .line .info {
    color: #666;
    width: 50%;
    font-style: italic;
}

/* window - 机厅详情 */

.window-hall-detail article .content {
    padding-bottom: .4em;
}

.window-hall-detail .content p.item .title {
    display: inline-block;
    /* width: 5em; */
    padding: .2em .4em;
    margin-right: .2em;
    font-weight: 600;
    color: #2f69ff;
    background-color: #efebfc;
    border-radius: var(--main-radius);
}

/* .window-hall-detail .content p.item .cont::hover {

} */

.window-hall-detail .content p.link {
    text-align: center;
}

.window-hall-detail .content p.link a.ban {
    /* 链接禁用状态 */
    pointer-events: none;
    background-color: var(--ban-color);
    opacity: .5;
}