/* / > home.html */

ul, li {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.banner {
    border-radius: 0 0 2em 2em;
    height: 14em;
}

.space {
    margin: 0 2em;
}

.min-space {
    margin: 0 .5em;
}

.card-item {
    /* border-bottom: #eee solid .2em; */
    margin-top: .4em;
    background-color: #fff;
    /* border-radius: 1em; */
    /* box-shadow: 1em 1em; */
}

.card-item h2 {
    text-indent: 1em;
}

.card-item h2, .card-item 
li h3 a {
    /* text-decoration: underline; */
    --icon-color: #949494;
    color: #00b1c5;
}

/* .intro {
    margin-top: 3em;
} */


.intro h3 {
    color: #00b1c5;
}

.intro p {
    text-indent: 2em;
}

.intro footer button {
    float: right;
}

.placard .placard-content {
    font-size: .8em;
}

.placard ol {
    margin-top: 0;
}

/* ↓app(page) list */

.app-list li .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6em 1em;
    border: .1em solid #000;
}

.app-list li .title {
    padding: 0;
    font-weight: 400;
    font-size: 1.1em;
    color: #000;
}

.app-list li .cover {
    width: 3em;
    height: 3em;
    background-image: url('/image/logo.png');
    border-radius: 10em;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.app-list li.hall .cover {
    background-image: url('/image/logo.png');
}


/* ↓ footer */

footer.main {
    font-size: .6em;
    padding: .2em .4em;
    margin: 0 .2em;
    /* background: url('/image/bottom_dlx.webp') center bottom no-repeat; */
    background-size: 12em;
    padding-bottom: 2em;
}

footer.main .version {
    text-align: right;
}
footer.main .version::before {
    content: '版本号:';
}