@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xuk5eu');
  src:  url('fonts/icomoon.eot?xuk5eu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xuk5eu') format('truetype'),
    url('fonts/icomoon.woff?xuk5eu') format('woff'),
    url('fonts/icomoon.svg?xuk5eu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-podcast:before {
  content: "\e91c";
}
.icon-feed:before {
  content: "\e91d";
}
.icon-profile:before {
  content: "\e923";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-bubble1:before {
  content: "\e97c";
}
.icon-user1:before {
  content: "\e975";
}
.icon-users1:before {
  content: "\e976";
}
.icon-user-plus1:before {
  content: "\e979";
}
.icon-user-minus1:before {
  content: "\e97a";
}
.icon-user-check:before {
  content: "\e97b";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search1:before {
  content: "\e987";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-tongue:before {
  content: "\e9e3";
}
.icon-tongue2:before {
  content: "\e9e4";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea2e";
}
.icon-spell-check:before {
  content: "\ea2d";
}
.icon-exit:before {
  content: "\ea2f";
}
.icon-play2:before {
  content: "\ea17";
}
.icon-pause:before {
  content: "\ea18";
}
.icon-stop:before {
  content: "\ea19";
}
.icon-previous:before {
  content: "\ea1a";
}
.icon-next:before {
  content: "\ea1b";
}
.icon-backward:before {
  content: "\ea1c";
}
.icon-forward2:before {
  content: "\ea1d";
}
.icon-play3:before {
  content: "\ea1e";
}
.icon-pause2:before {
  content: "\ea1f";
}
.icon-stop2:before {
  content: "\ea20";
}
.icon-backward2:before {
  content: "\ea21";
}
.icon-forward3:before {
  content: "\ea22";
}
.icon-first:before {
  content: "\ea23";
}
.icon-last:before {
  content: "\ea24";
}
.icon-previous2:before {
  content: "\ea25";
}
.icon-next2:before {
  content: "\ea26";
}
.icon-eject:before {
  content: "\ea27";
}
.icon-volume-high:before {
  content: "\ea28";
}
.icon-volume-medium:before {
  content: "\ea29";
}
.icon-volume-low:before {
  content: "\ea2a";
}
.icon-volume-mute:before {
  content: "\ea2b";
}
.icon-volume-mute2:before {
  content: "\ea2c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-github:before {
  content: "\eab0";
}
.icon-home1:before {
  content: "\e901";
}
.icon-home2:before {
  content: "\e902";
}
.icon-home3:before {
  content: "\e903";
}
.icon-office:before {
  content: "\e904";
}
.icon-newspaper:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-music:before {
  content: "\e911";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-folder1:before {
  content: "\e935";
}
.icon-folder-open1:before {
  content: "\e936";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles3:before {
  content: "\e96f";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner111:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-eye1:before {
  content: "\e9e8";
}
.icon-eye-plus1:before {
  content: "\e9e7";
}
.icon-eye-minus1:before {
  content: "\e9d6";
}
.icon-eye-blocked1:before {
  content: "\e9de";
}
.icon-heart1:before {
  content: "\e9dc";
}
.icon-heart-broken1:before {
  content: "\e9dd";
}
.icon-plus1:before {
  content: "\ea15";
}
.icon-minus1:before {
  content: "\ea16";
}
.icon-cancel-circle1:before {
  content: "\ea11";
}
.icon-blocked1:before {
  content: "\ea12";
}
.icon-cross1:before {
  content: "\ea13";
}
.icon-checkmark1:before {
  content: "\ea14";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-tab:before {
  content: "\ea45";
}
.icon-move-up:before {
  content: "\ea46";
}
.icon-move-down:before {
  content: "\ea47";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-new-tab:before {
  content: "\ea7e";
}
